@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main {
  counter-reset: section 0;
}
body {
  @apply dark:bg-gray-950 bg-gray-100 dark:text-gray-50 text-gray-950 selection:bg-teal-500 selection:text-gray-900 dark:font-normal font-medium;
}

.high-lighter {
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
@layer components {
  .active-tab {
    @apply dark:bg-gray-800 bg-gray-200 dark:text-teal-300 text-teal-500;
  }
  .content-empty {
    content: '';
  }
  .before-counter-increment {
    @apply relative bottom-1 mr-2 dark:text-teal-300 text-teal-500 text-base md:text-xl font-medium;
    counter-increment: section 1;
    content: "0" counter(section) "."
  }
  .before-counter-increment-without-style {
    counter-increment: section 1;
    content: "0" counter(section) ".";
  }
  .after-numbered-heading {
    @apply block relative -top-1 w-72 h-[1px] ml-5 bg-gray-700;
    content: '';
  }
}